[*.kt]
indent_style = space
indent_size = 2
[*.java]
indent_style = space
indent_size = 2
[*.ts]
indent_style = space
indent_size = 2
[*.js]
indent_style = space
indent_size = 2
[*.svelte]
indent_style = space
indent_size = 2
[*.py]
indent_style = space
indent_size = 2
[*.sh]
indent_style = space
indent_size = 2
