experimental_monorepo_root = true
[monorepo]
config_roots = [
  "packages/*"
]


[tools]
java = "21"
node = "latest"
"npm:npm-groovy-lint" = "latest"
pnpm = "latest"
python = "latest"
uv = "latest"

[env]
MISE_EXPERIMENTAL="1"
# This tells mise to automatically activate the .venv in this directory
_.python.venv = ".venv"

workdata     = "{{config_root}}/workdata"
common_dir   = "{{config_root}}/packages/common"
common_dist  = "{{env.common_dir}}/dist/**/*"
frontend_dir = "{{config_root}}/packages/frontend"

star_t_dir         = "{{env.workdata}}/star_t_server"
dumps_from_mod_dir = "{{env.workdata}}/00_dumps_from_mod"
extracted_pngs_dir = "{{env.workdata}}/01_extracted_pngs"
db_dir             = "{{env.workdata}}/02_db"
minified_json_dir  = "{{env.workdata}}/03_minified_json"


[tasks."forgemod:build"]
description = "Build mod"
run = "./gradlew build"
dir = "{{config_root}}/forgemod"
sources = ["*.gradle", "src/**/*.java", "src/**/*.kt", "src/main/resources"]
outputs = ["build/libs/komarubrowser-*.jar"]

[tasks."star_t:copy"]
description = "Run Star Technologu with mod"
depends = [":forgemod:build"]
dir = "{{env.star_t_dir}}"
run = "./scripts/run_star_t.sh"

[tasks."star_t:run"]
description = "Run Star Technologu with mod"
depends = [":star_t:copy"]
dir = "{{env.star_t_dir}}"
run = "./run.sh --nogui --port 26767"
raw = true


[tasks.build]
description = "Build everything"
run = [{
  tasks = [
    "//packages/...:build",
]}]

[tasks.clean]
description = "Clean all artifacts"
run = [{
  tasks = [
    "assets:clean",
    "//packages/...:clean",
]}]


[tasks.assets]
description = "Prepare assets"
run = [{
  tasks=[
    "//packages/extractor:jar",
    "//packages/extractor:db",
    "//packages/extractor:minify",
  ]}]

[tasks."assets:clean"]
description = "clean"
run = "rm -rf {{env.extracted_pngs_dir}} {{env.db_dir}} {{env.minified_json_dir}}"

