[tools]
java = "21"
"npm:npm-groovy-lint" = "latest"


[tasks.forgemod-build]
description = "Build mod"
run = "./gradlew build"
dir = "{{config_root}}/forgemod"
sources = ["*.gradle", "src/**/*.java", "src/**/*.kt", "src/main/resources"]
outputs = ["build/libs/komarubrowser-*.jar"]

[tasks.star_t-copy]
description = "Run Star Technologu with mod"
depends = ["forgemod-build"]
dir = "{{config_root}}"
run = "./scripts/run_star_t.sh"
# sources = ["build/libs/komarubrowser-*.jar"]
# outputs = ["workdata/star_t_server/mods/komarubrowser-*.jar"]

[tasks.star_t]
description = "Run Star Technologu with mod"
depends = ["star_t-copy"]
dir = "{{config_root}}/workdata/star_t_server"
run = "./run.sh --nogui --port 26767"
raw = true

