experimental_monorepo_root = true
[monorepo]
config_roots = [
  "packages/*",
  "minecraft/forgemod",
  "minecraft/star_t",
]

[tools]
node = "latest"
"npm:npm-groovy-lint" = "latest"
pnpm = "latest"

[env]
MISE_EXPERIMENTAL="1"
# This tells mise to automatically activate the .venv in this directory
_.python.venv = ".venv"

workdata     = "{{config_root}}/workdata"
common_dir   = "{{config_root}}/packages/common"
common_dist  = "{{env.common_dir}}/dist/**/*"
frontend_dir = "{{config_root}}/packages/frontend"
forgemod     = "{{config_root}}/minecraft/forgemod"
star_t       = "{{config_root}}/minecraft/star_t"

star_t_dir         = "{{env.workdata}}/star_t_server"
dumps_from_mod_dir = "{{env.workdata}}/00_dumps_from_mod"
extracted_pngs_dir = "{{env.workdata}}/01_extracted_pngs"
db_dir             = "{{env.workdata}}/02_db"
minified_json_dir  = "{{env.workdata}}/03_minified_json"

[tasks.build]
description = "Build everything"
depends = [
  "//minecraft/...:build",
  "//packages/...:build",
]
run = "# dummy"

[tasks.clean]
description = "Clean all artifacts"
depends = [
    "assets:clean",
    "//minecraft/...:clean",
    "//packages/...:clean",
]
run = "# dummy"


[tasks.assets]
description = "Prepare assets"
run = [{
  tasks=[
    "//packages/extractor:jar",
    "//packages/extractor:db",
    "//packages/extractor:minify",
  ]}]

[tasks."assets:clean"]
description = "clean"
run = "rm -rf {{env.extracted_pngs_dir}} {{env.db_dir}} {{env.minified_json_dir}}"

