[tasks.build]
description = "Build extractor"
depends = ["//packages/common:build"]
run = "pnpm tsc --build"
sources = [
  "package.json",
  "tsconfig.json",
  "src/**/*",
  "../common/dist/**/*",
]
outputs = ["./dist/**/*.js", "./dist/**/*.d.ts"]

[tasks.clean]
description = "Remove build files"
run = "rm -rf ./dist"

[tasks.jar]
description = "Extract assets from Jar mods"
depends = [":build"]
sources = [
  "./dist/**/*.js"
  "{{env.raw_assets_dir}}/dump/ingredients.json",
]
outputs = [
  "{{env.assets_dir}}/extracted/**/*.png"
]
run = "pnpm node dist/main.js --extract"

[tasks.db]
description = "Build SQLite database from ingredients and extracted assets"
depends = [":jar"]
sources = [
  "./dist/**/*.js",
  "{{env.raw_assets_dir}}/dump/ingredients.json",
  "{{env.assets_dir}}/extracted/**/*.png",
]
outputs = [
  "{{env.assets_dir}}/dump/assets.db"
]
run = "pnpm node dist/main.js --build-db"

[tasks.minify]
description = "Minify all JSON files"
depends = [":build", ":db"]
sources = [
  "./dist/**/*.js",
  "{{env.raw_assets_dir}}/dump/*.json",
]
outputs = [
  "{{env.assets_dir}}/minified/*.min.json",
]
run = "pnpm node dist/main.js --minify"
