[tasks.build]
description = "Build extractor"
depends = ["//packages/common:build"]
run = "pnpm tsc --build"
sources = [
  "package.json", "tsconfig.json",
  "src/**/*",
  "{{env.common_dist}}",
]
outputs = ["./dist/**/*"]

[tasks.clean]
description = "Remove build files"
run = "rm -rf ./dist"

[tasks.run]
description = "Extract assets from Jar mods and build manifest"
depends = [":build"]
sources = ["{{env.raw_assets_dir}}/dump/ingredients.json"]
outputs = ["{{env.assets_dir}}/extracted", "{{env.raw_assets_dir}}/dump/manifest.json"]
run = "pnpm node dist/main.js"

[tasks.minify]
description = "Minify all JSON files"
depends = [":build"]
sources = ["{{env.raw_assets_dir}}/dump/*.json"]
outputs = ["{{env.assets_dir}}/dump/*.min.json"]
run = "pnpm node dist/main.js --minify"
