[tasks.build]
description = "Build extractor"
depends = ["//packages/common:build"]
run = "pnpm tsc --build"
sources = [
  "package.json",
  "tsconfig.json",
  "src/**/*",
  "../common/dist/**/*",
]
outputs = ["./dist/**/*.js", "./dist/**/*.d.ts"]

[tasks.clean_dist]
description = "Remove build files"
run = "rm -rf ./dist"

[tasks.pngs]
description = "Extract pngassets from Jar mods"
depends = [":build", "//minecraft/star_t:dump_json"]
sources = [
  "./dist/**/*.js",
  "../common/dist/**/*",
  "{{env.dumps_from_mod_dir}}/ingredients.json",
]
outputs = [
  "{{env.extracted_pngs_dir}}/**/*.png",
]
run = "pnpm node dist/main.js --extract-pngs"

[tasks.db]
description = "Build SQLite database from ingredients and extracted assets"
depends = [
  ":build",
  "//minecraft/star_t:dump_json",
  ":pngs",
]
sources = [
  "./dist/**/*.js",
  "../common/dist/**/*",
  "{{env.dumps_from_mod_dir}}/ingredients.json",
  "{{env.dumps_from_mod_dir}}/recipes.json",
  "{{env.extracted_pngs_dir}}/**/*.png",
]
outputs = [
  "{{env.db_dir}}/komarku.db"
]
run = "pnpm node dist/main.js --build-db"

[tasks.minify]
description = "Minify all JSON files"
depends = [
  ":build",
  ":db",
  "//minecraft/star_t:dump_json",
]
sources = [
  "./dist/**/*.js",
  "../common/dist/**/*",
  "{{env.dumps_from_mod_dir}}/*.json",
]
outputs = [
  "{{env.minified_json_dir}}/*.json",
]
run = "pnpm node dist/main.js --minify"

[tasks.clean_artifacts]
description = "Remove artifcats files"
run = '''
rm -rf {{env.extracted_pngs_dir}}
rm -rf {{env.minified_json_dir}}
rm -rf {{env.db_dir}}
'''
